.git
.github
.venv
.env
*.pyc
__pycache__
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
*.log
src/green_agent/agent_logs
src/white_agent/agent_logs
*.md
!README.md
.DS_Store
.vscode
docker-compose.yml
Dockerfile
